<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head.ejs') %> 
    <body>
      <%- include('partials/navbar.ejs') %>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4"><%= title %></h1>
          <p class="lead">Cadastre-se abaixo.</p>
        </div>
      </div>

        <div class="container">
          <% if (typeof message !== 'undefined') { %>
            <div class="alert alert-primary" role="alert">
              <%= message %> 
            </div>
          <% } %>

          <form class="row g-3" action="/edit/<%= user._id %>" method="post" data-toggle="validator">
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputName" placeholder="Digite o Nome Completo do aluno..." name="name" value="<%= user.name %>" required>
              </div>
              <div class="col-md-2">
                <label for="inputZip" class="form-label">Matrícula</label>
                <input type="txt" class="form-control" id="inputMat" name="matricula" onkeypress="$(this).mask('0000000-0')" value="<%= user.matricula %>" required>
              </div>
              <div class="col-md-2">
                <label for="inputZip" class="form-label">Data de Nascimento</label>
                <input type="txt" class="form-control" id="inputAge" name="age" onkeypress="$(this).mask('00/00/0000')" value="<%= user.age %>" required>
              </div>

              <div class="col-md-6">
                <label for="inputCity" class="form-label">Nome da Mãe</label>
                <input type="text" class="form-control" id="inputName" placeholder="Digite o Nome Completo da Mãe..." name="nameMother" value="<%= user.nameMother %>" required>
              </div>

              <div class="col-md-2">
                <label for="inputCity" class="form-label">CPF da Mãe</label>
                <input type="text" class="form-control" id="inputCPF" placeholder="Digite o CPF da mãe..." name="cpf" onkeypress="$(this).mask('000.000.000-00');" value="<%= user.cpf %>" required>
              </div>

              <div class="col-md-2">
                <label for="inputCity" class="form-label">Contato 1</label>
                <input type="text" class="form-control" id="inputCPF" placeholder="Digite número do responsável..." name="tel" onkeypress="$(this).mask('(00) 00000-0000')" value="<%= user.tel %>" required>
              </div>

              <div class="col-md-2">
                <label for="inputCity" class="form-label">Contato 2</label>
                <input type="text" class="form-control" id="inputCPF" placeholder="Digite número do responsável..." name="tel2" onkeypress="$(this).mask('(00) 00000-0000')" value="<%= user.tel2 %>" required>
              </div>


            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4" name="email" value="<%= user.email %>" required>
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword4" name="password" value="<%= user.password %>" required>
            </div>
            
            <div class="col-md-2">
              <label for="inputZip" class="form-label">CEP</label>
              <input type="text" class="form-control" id="cep"  name="cep" onkeypress="$(this).mask('00000-000')" value="<%= user.cep %>" required>
            </div>

            <div class="col-md-8">
              <label for="inputAddress" class="form-label">Endereço</label>
              <input type="text" class="form-control" id="logradouro" name="address" placeholder="Endereço do aluno" value="<%= user.address %>" required>
            </div>

            <div class="col-md-2">
              <label for="inputNum" class="form-label">Número</label>
              <input type="text" class="form-control" id="numCasa" name="numHouse" placeholder="Número da residência..." value="<%= user.numHouse %>" required> 
            </div>
            
            <div class="col-md-3">
              <label for="inputCity" class="form-label">Cidade</label>
              <input type="text" class="form-control" name="city" id="cidade" value="<%= user.city %>" required>
            </div>
            <div class="col-md-3">
              <label for="inputAddress" class="form-label">Bairro</label>
              <input type="text" class="form-control" id="bairro" name="district" placeholder="Digite seu bairro..." value="<%= user.district %>" required>
            </div>
            <div class="col-md-6">
              <label for="inputAddress" class="form-label">Complemento</label>
              <input type="text" class="form-control" id="complemento" name="complement" placeholder="Digite o complemento..." value="<%= user.complement %>" required>
            </div>
            

            <div class="col-12">
              <button type="submit" class="btn btn-primary">Editar</button>
            </div>
          </form>


          
        </div>
        
        <%- include('partials/footer.ejs') %> 
        <%- include('partials/foot.ejs') %> 
    </body>

</html>