<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head.ejs') %> 
    <body>
        <%- include('partials/navbar.ejs') %>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4"><%= title %></h1>
              <p class="lead">Entre com sua Matricula para cadastrar suas informações</p>
            </div>
        </div>



        <div class="container">

            <form class="row g-3" action="/result" method="get">
                <div class="col-md-6">
                    <input class="form-control me-2" type="text" placeholder="Matrícula" aria-label="Search" name="query" onkeypress="$(this).mask('0000000-0')" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control me-2" type="text" placeholder="Data de Nascimento" aria-label="Search" name="data" onkeypress="$(this).mask('00/00/0000')">
                </div>

                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </form>

   

        </div>

        
        
        <%- include('partials/footer.ejs') %> 
        <%- include('partials/foot.ejs') %> 
    </body>
</html>