<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head.ejs') %> 
    <body>
        <%- include('partials/navbar.ejs') %>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4"><%= title %></h1>
              <p class="lead">Listagem da pesquisa por "<%= pesquisa.query %>" e "<%= pesquisa.data %>"</p>
            </div>
        </div>

        <div class="container">

            <% if (dados.length == '0') { %>
                <div class="alert alert-danger" role="alert">
                  Aluno Não Encontrado
                </div>
            <% } %>

            <form class="row g-3" action="/result" method="get">
                <div class="col-md-6">
                    <input class="form-control me-2" type="text" placeholder="Matrícula" aria-label="Search" name="query" onkeypress="$(this).mask('0000000-0')" required>
                </div>
                <div class="col-md-6">
                    <input class="form-control me-2" type="text" placeholder="Data de Nascimento" aria-label="Search" name="data" onkeypress="$(this).mask('00/00/0000')">
                </div>

                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </form>


            <ul class="list-group" style="margin-top: 40px;">
                <% dados.forEach((user) => { %>
                 
                   
                  
                    
                    <li class="list-group-item d-flex justify-content-around">
                        Nome: <%= user.name %> - Email: <%= user.email %> - Nascimento: <%= user.age %> 
                        
                        <a class="btn btn-outline-primary" href="/edit?id=<%= user._id %> ">Editar</a>
                                             
                    </li>
                    
                
                <% }); %> 
            </ul>
   

        </div>

        
        
        <%- include('partials/footer.ejs') %> 
        <%- include('partials/foot.ejs') %> 
    </body>
</html>