<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head.ejs') %> 
    <body>
        <%- include('partials/navbar.ejs') %>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4"><%= title %></h1>
              <p class="lead">Listagem da pesquisa por "<%= aluno %>"</p>
            </div>
        </div>

        <div class="container">
            <form class="d-flex" action="/result" method="get">
                <input class="form-control me-2" type="text" placeholder="Pesquisa" aria-label="Search" name="query">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>

            <ul class="list-group" style="margin-top: 40px;">
                <% dados.forEach((user) => { %>
                 
                   
                  
                    
                    <li class="list-group-item d-flex justify-content-around">
                        Nome: <%= user.name %> - Email: <%= user.email %> - Nascimento: <%= user.age %> 
                        
                        <a class="btn btn-outline-primary" href="/edit?id=<%= user._id %> ">Editar</a>
                                             
                    </li>
                    
                
                <% }); %> 
            </ul>
   

        </div>

        
        
        <%- include('partials/footer.ejs') %> 
        <%- include('partials/foot.ejs') %> 
    </body>
</html>